# Created by .ignore support plugin (hsz.mobi)
sharding-proxy/logs
sharding-proxy/lib
sharding-proxy/bin
sharding-proxy/licenses
proxyDemo/src/main/resources/static/
proxyDemo/src/main/resources/templates/
.idea
